* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
	margin: 0;
	background-color: black;
	color: white;
	text-align: center;
	font-size: 120%;
	transition: background-color 0.2s;
}
body.wrong_answer {
	background-color: red;
}
body.right_answer {
	background-color: green;
}
#views {
	max-width: 500px;
	margin: 0 auto;
}
#views > .view {
	display: none;
}
#views > .view.show {
	display: block;
}
.button.frame {
	border-radius: 10px;
	margin: 15px;
	height: 40px;
	line-height: 40px;
	overflow: hidden;
	background-color: #204921;
	background-image: url(../images/button_bck.png);
}
.button.frame.blocked {
	opacity: 0.2;
	cursor: default;
}
.button.frame:not(.blocked):active {
	background-color: #fcf800;
	color: black;
	background-image: url(../images/button_bck_active.png);
}
.button.frame.blocked:active {
	background-color: #204921;
	color: white;
	background-image: url(../images/button_bck.png);
}
.button:hover {
	cursor: pointer;
}
.header {
	color: rgb(252,248,0);
	font-size: 175%;
	padding: 0.5em;
}
.hide {
	display: none;
}
#sync .statusbar {
	margin: 1em;
	border-radius: 0.5em;
	overflow: hidden;
	background-color: gray;
}
#sync .bar {
	transition: width 0.1s;
	background-color: rgb(252,248,0);
	height: 2em;
}
#sync .bar.done {
	background-color: rgb(20,255,20);
}
#sync .bar.fail {
	background-color: rgb(255,20,20);
}
#quiz .image img,
#browse .image img {
	max-width: 100%;
}
#browse .image {
	margin-bottom: 50px;
}
#browse .image > div {
	font-size: 120%;
	color: rgb(252,248,0);
}
#login form {
	background-position: center 20px;
	background-repeat: no-repeat;
	padding-top: 50px;
}
#login form.loading {
	background-image: url(../images/loading.gif);
}
#user-info .name {
	font-size: 120%;
}
#user-info .name {
	font-size: 120%;
	padding-bottom: 20px;
}
#user-info .name .position {
	font-style: italic;
	font-size: 82%;
}
#user-info .name .position:before {
	content: '(';
}
#user-info .name .position:after {
	content: ')';
}